# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
ENV/
env/
*.env

# Streamlit cache & configs
.streamlit/
.streamlit/secrets.toml

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter notebooks
.ipynb_checkpoints

# IDE / editor settings
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
desktop.ini
